<div class="header-container">
    <div class="logo-container">
      <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
        <nb-icon icon="menu-2-outline"></nb-icon>
      </a>
      <a class="logo" href="#" (click)="navigateHome()"><h1>LOGO</h1></a>
    </div>
    
  </div>
  
  <div class="header-container">
      <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
          <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
        </nb-select>
    <nb-actions size="small">
      <nb-action class="user-action" >
        <nb-user [onlyPicture]="userPictureOnly"
                 [name]="user">
        </nb-user>
      </nb-action>
    </nb-actions>
  </div>
  