<nb-card>
    <nb-card-header>
        <h1>Título do card</h1>
    </nb-card-header>
    <nb-card-body>
        <p>Corpo do card</p>
    </nb-card-body>
    <nb-card-footer>
        <p>Rodapé do card</p>
    </nb-card-footer>
</nb-card>